/* All global styling goes here */

:root {
  /* COLORS */
  --clr-prime: #1f43b8;
  --clr-bg: rgb(235, 235, 235);
  --clr-font: black;
  --clr-font-secondary: rgb(41, 41, 41);

  /* FONTS */
  --ft-header: 'Montserrat', sans-serif;
  --ft-body: 'Montserrat', sans-serif;
}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 2px dotted var(--clr-prime);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ft-header);
}

button {
  max-height: 43px;
}

a {
  text-decoration: none;
}
